<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PP_Data_SQLServer.Properties.Settings.AD4_PenguinPlannerConnectionString"
         connectionString="Data Source=&quot;sql.tihub.be, 15975&quot;;Initial Catalog=AD4_PenguinPlanner;Persist Security Info=True;User ID=AD4;Password=A123456);Connection Timeout=16" />
    <add name="PP_Data_SQLServer.Properties.Settings.AD4_PenguinPlannerConnectionString_WithoutPort"
         connectionString="Data Source=&quot;sql.tihub.be&quot;;Initial Catalog=AD4_PenguinPlanner;Persist Security Info=True;User ID=AD4;Password=A123456);Connection Timeout=16" />
  </connectionStrings>
</configuration>